html {
  background: url("./back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.block_find {
  margin: 10px auto;
  width: 810px;
  margin-bottom: 50px;
}

.input-find {
  border: none;
  padding: 5px;
  font-size: 17px;
  border-bottom: 2px solid #1b9e48;
  width: 700px;
}

.button-find {
  color: #fff;
  cursor: pointer;
  background: #1b9e48;
  border: none;
  font-size: 17px;
  height: 32px;
  width: 100px;
  border-bottom: 2px solid #1b9e48;
}

.img {
  width: 230px;
  height: 160px;
  margin-left: 10px;
}

.output-date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 70px;
}

.item {
  cursor: pointer;
  background-color: #333;
  height: auto;
  width: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px 0px 0px 0px;
  transition: all .5s ease-out;
}

.item:hover {
  transform: scale(1.05);
}

.bathroom {
  color: #fff;
  font-size: 17px;
  padding-left: 10px;
}

.bedroom {
  color: #fff;
  font-size: 17px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.price {
  background-color: #1b9e48;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  padding: 7px 7px 7px 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #333;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.item-modal {
  background-color: #333;
  margin: auto;
  padding: 0;
  width: 600px;
  display: flex;
  margin-top: 100px;
  height: 200px;
  border-radius: 10px;
  border-bottom: 3px solid #1b9e48;
}

.modal_img {
  margin: 5px 5px 0px 5px;
  border-radius: 10px;
  width: 190px;
  height: 190px;
}

.item-info-modal-block {
  padding-left: 10px;
  flex-grow: 1;
  background: #333;
  display: flex;
  width: 412px;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 17px;
}

.item-info {
  flex-basis: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: #e85f5f;
  background-color: #fff;
}

.close_modal {
  cursor: pointer;
  color: #1b9e48;
  margin-left: 375px;
  width: 20px;
  font-size: 20px;
}

.modal_title,
.modal_bathroom,
.modal_bedroom {
  padding-bottom: 10px;
  color: #1b9e48;
  font-size: 17px;
  padding-left: 10px;
}

.favorites {
  position: absolute;
  font-size: 25px;
  margin-left: 210px;
}

.favorites:hover {
  color: red;
}
